<!doctype html>
<html lang="ru">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NQ3TSGL1DW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-NQ3TSGL1DW');
  </script>
  <script type="text/javascript" src="/src/assets/js/ya.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TITLE}}| isthere.money</title>
  <meta name="description" content="{{DESCR}}">
  <link rel="canonical" href="https://isthere.money/articles/{{PATH}}/" />
  <link rel="stylesheet" href="/src/style.css">
</head>


<body>
  <header>
    <a href="/">isthere.money</a>
  </header>
  <main>
    <article>
      <h1>Проверка валидности html сайта</h1>
      <div><a href="{{PREV_LINK}}">Ранее: {{PREV_TITLE}}</a></div>
      <p><time datetime="{{DATE}}">{{DATE}}</time> </p>
      <div class="">
        </div>
    </article>

  </main>
  <footer>
    <a href="https://t.me/istheremoney/29" target="_blank" rel="noopener noreferrer">Обсуждение в Telegram</a>
  </footer>

  <noscript>
    <div><img src="https://mc.yandex.ru/watch/106420495" style="position:absolute; left:-9999px;" alt=""></div>
  </noscript>
</body>


</html>