html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  height: 100%;
}
nav li {
  padding: 4px;
}
footer {
  padding-top: 15px;
  padding-bottom: 30px;
}

.time {
  font-style: italic;
}
.plan {
  list-style-type: decimal;
}
table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 4px;
}
